<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145447278228-ooh75e5ftp2nta7ervqrs8fsfev28s0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145447278228-ooh75e5ftp2nta7ervqrs8fsfev28s0h</string>
	<key>API_KEY</key>
	<string>AIzaSyC30NrdsRBsqK6OmX5dwvKboYAm5_dhhJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>145447278228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myImportantNotese.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mysecondloginmiki</string>
	<key>STORAGE_BUCKET</key>
	<string>mysecondloginmiki.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145447278228:ios:061de620814120854e0681</string>
</dict>
</plist>